@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Contact Page */
.contact-page {
    background-color: white;
    padding: 20px 10%;
}

.contact-page p {
    color: #333;
}

/* Contact Form */
.contact-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    border: none;
}

.contact-form .form-control {
    border-radius: 5px;
}

.contact-form .form-control:focus {
    border-color: #1a1919; 
    box-shadow: none;
}

/* Submit Button */
.contact-form .btn-primary {
    border: none;
    color: whitesmoke; /* Rich Brown */
    transition: background-color 0.3s ease;
}

.contact-form .btn-primary:hover {
    background-color: #61422e; /* Slightly darker yellow */
    color: #fff;
}

/* Map Container */
.map-container {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border: none;
}
