@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.hero-section {
    min-height: 75vh; /* Full viewport height */
    background-color: whitesmoke; /* Dark background */
    display: flex;
    align-items: center;
    padding: 0 15%; /* Add some padding for spacing */
}

.btn-lg {
    background-color: whitesmoke;
    color: #1a1a1a; 
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

/* Button Hover Effect */
.btn-lg:hover {
    background-color: whitesmoke;
    color: #86592d; 
    transform: scale(1.05);
}

.info-text {
    font-family: Poppins, sans-serif;
}

.hero-text {
    color: 		#1a1919;
    font-size: 16px;
    font-weight: 200;
}

.hero-text h1 {
    font-size: 32px;
    font-weight: 400;
}




