@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



.offcanvas {
    background-color: #1a1a1a; /* Your desired background color */
    color: whitesmoke; 
}

.navbar-toggler {
    background-color: whitesmoke; /* Add white background */
}


.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 9%;
    background: transparent;    
}

.navlist {
    justify-content: flex-end; /* Ensure alignment to the right */
    margin-left: auto; /* Push the navigation to the right */
    display: flex;
    gap: 20px; /* Add spacing between links */
}


.navbar-brand {
    font-weight: 700;
    color:		#eab94c;
    font-size: 30px;
    transition: 0.3s color;
}

.nav-link {
    color: 		#ffe5ad;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.55s ease;
}

.nav-link:hover {
    color: whitesmoke;
    border-bottom: 2px solid #86592d;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    border-bottom: 2px solid #86592d;
}