@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {  /* ทุกเพจ */
    margin-top: 115px; 
}

.offcanvas {
    color: whitesmoke; 
}

.navbar-toggler {
    background-color: whitesmoke; /* Add white background */
}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 5%;
    background: transparent;    
}

.navlist {
    justify-content: flex-end; 
    margin-left: auto; 
    display: flex;
    gap: 20px; 
    text-shadow: 0px 2px 2px rgba(0,0,0,.29);
    font-family: Poppins, sans-serif;
}

.navbar-brand {
    font-weight: 500;
    color:		#1a1919;
    font-size: 30px;
    transition: 0.3s color;
    text-shadow: 0px 2px 2px rgba(0,0,0,.29);
}

.nav-link {
    color: #1a1919;
    font-size: 15px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    opacity: 0.5;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}