

 .products-section {
   margin: auto;
    padding: 0 10%;
 }

 #products p {
    color: #1a1919;
 }

 .card {
    background-color: white;
    border: none;
    text-decoration: none;
    color: #1a1919;
 }

 .card a{
    text-decoration: none;
    color: #1a1919;
 }

 #products .card:hover {
    transition: 0.5s;
 }

