.product-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 20%;
    min-height: 70vh;
  }
  
  .image-gallery {
    display: flex;
  }
  
  .main-image {
    width: 100%;
    height: fit-content;
    border: 1px solid #ddd;
  }
  
  
  .product-details {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  
  .product-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .product-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .btn-decrement,
  .btn-increment {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .add-to-cart-btn {
    background-color: #1a1919;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .add-to-cart-btn:hover {
    background-color: #333;
  }
  