 body {
    background-color: 	#59270f;
    margin-top: 115px;
 }

 #products h1 {
    color: #1a1919;
 }

 .card a{
    text-decoration: none;
    color: #1a1919;
 }

 .card:hover {
    scale: 1.05;
 }