.shop {
    padding: 20px 15%;
    display: flex;
    flex-direction: column;
}
.my-cart {
    text-align: end;
}

.card-img-top img {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top img {
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.form-filter {
    animation: transitionIn 2s;
}
   
   @media screen and (max-width: 768px) {
    .form-filter {
        display: none;
        transition: left 0.3s ease-in-out;
    }
    
    .form-filter.open {
      display: block;
    }
    
    .filter-icon {
      display: flex;
      justify-content: end;
    }
   }
   
   @media screen and (min-width: 769px) {
    .form-filter {
      display: block;
    }
    
    .filter-icon {
      display: none;
    }
   }

   @keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(90px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
   }