/* SignIn Page Styles #1a1a1a */

/* Fullscreen Container */
.signin-container {
    height: 75vh;
    background-color: white; /* Light Cream */
}

/* Card Styling */
.signin-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
    border: 1px solid none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Label */
.form-label {
    color: #1a1919;
    font-weight: bold;
}

/* Input Fields */
.form-control {
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #FFCA28; /* Bright Yellow */
    box-shadow: none;
}

/* Submit Button */
.btn-light {
    border: none;
    transition: background-color 0.3s ease;
}

/* Link Button */
.btn-link {
    color: #4E342E;
    text-decoration: underline;
    font-size: 0.9rem;
}

.btn-link:hover {
    color: #FFCA28;
    text-decoration: none;
}
