@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.gallery {
    overflow: hidden;
    white-space: nowrap;
}
.img-slide {
    display: inline-block;
    animation: 100s slide infinite linear;
}
.img-slide img {
    height: 245px;
    width: 350px;
    object-fit: cover;
}
.gallery:hover .img-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.aboutus-content {
    max-width: 430px;
    margin: 40px auto;
    text-align: center;
}

.aboutus-content p {
    font-family: Poppins,sans-serif;
    text-align: left;
}

.story-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 600px;
    border-radius: 8px;
    object-fit: cover;
}
.right {
    width: 50%;
    min-height: 300px;
    background-color: #ededee;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: -150px;
    font-family: Poppins,sans-serif;
}
.right h1 {
    font-size: 40px;
}
.right p {
    margin: 20px 0;
    font-weight: 300;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    .aboutus-content {
        width: 100%;
        padding: 0 15px;
    }
    .story-container{
        flex-direction: column;
        width: 100%;
        margin: 80px 20px;
        overflow: hidden;
    }
    .left{
        width: 100%;
        height: 400px;
    }
    .right{
        width: 90%;
        margin: auto;
        margin-top: -100px 
    }
    .story-container-2{
        width: 100%;
        margin: 80px 20px;
    }
    .top-story-img {
        width: 100%;
        height: 400px;
    }
    .bottom-story-text {
        width: 90%;
        margin: auto;
        margin-top: -100px;
    }
}

.story-container-2 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-story-img {
    width: 100%; 
    max-width: fit-content;
    height: 400px; 
    border-radius: 8px;
    object-fit: cover; 
}
.bottom-story-text {
    width: 70%;
    min-height: 300px;
    background-color: #ededee;
    align-items: center;
    justify-content: center;
    padding: 30px;

    margin-top: -150px;
    font-family: Poppins,sans-serif;
}
.bottom-story-text h1 {
    font-size: 40px;
    text-align: center;
}
.bottom-story-text p {
    margin: 20px 0;
    font-weight: 300;
    line-height: 25px;
}


